{{!-- Netflix top 10 shows and movies --}}
<div id="topTen" class="container-fluid container text-center">
  <div class="col-12 col-md-12">
      <h1>Netlix Top 10</h1>
      <hr id="topTenHr" class="rounded">
  </div>
      <div class=" container text-center row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img ">
              <div class="see_more text-center">
                  <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
              </div>
              <article class="text-left">
                  <h2>ALL OF US<br>ARE DEAD</h2>
                  <h4 class=hBody>"This show is so intense!" - Laura</h4>
              </article>
              <img src="images/All_of_Us _Are_Dead_TV_1.jpg" alt="All of Us are Dead Movie poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
              <div class="see_more text-center">
                  <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
              </div>
              <article class="text-left">
                  <h2>CAN YOU KEEP<br>A SECRET</h2>
                  <h4 class=hBody>"This movie was alright" -John</h4>
              </article>
              <img src="images\Can You Keep a Secret_Movies_5.jpg" alt="Can You Keep a Secret Movie poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
              <div class="see_more text-center">
                  <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
              </div>
              <article class="text-left">
                  <h2>DESPICABLE ME 2</h2>
                  <h4 class=hBody>"Great for the family" -Ashton</h4>
              </article>
              <img src="images\Despicable Me 2_Movies_2.jpg" alt="Despicable Me 2 Movie poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
              <div class="see_more text-center">
                  <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
              </div>
              <article class="text-left">
                  <h2>HOME TEAM</h2>
                  <h4 class=hBody>"Watch if you want I guess" -Paula</h4>
              </article>
              <img src="images\Home Team_Movies_1.jpg" alt="Home Team Movie poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
            <div class="see_more text-center">
                <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
            </div>
            <article class="text-left">
                <h2>OZARK</h2>
                <h4 class=hBody>"Hopefully Netflix doesn't cancel this one" -Randy</h4>
            </article>
            <img src="images\Ozark_TV_3.jpg" alt="Ozark show poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
            <div class="see_more text-center">
                <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
            </div>
            <article class="text-left">
                <h2>RAISING DION</h2>
                <h4 class=hBody>"Being a mom is a superhero but what about raising one" -Dan</h4>
            </article>
            <img src="images\Raising Dion_TV_5.jpg" alt="Raising Dion show poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
            <div class="see_more text-center">
                <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
            </div>
            <article class="text-left">
                <h2>SWEET MAGNOLIAS</h2>
                <h4 class=hBody>"Modern day Golden Girls?" -JK</h4>
            </article>
            <img src="images\Sweet Magnolias_TV_4.jpg" alt="Sweet Magnolias show poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
            <div class="see_more text-center">
                <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
            </div>
            <article class="text-left">
                <h2>THE TINDER<br>SWINDLER</h2>
                <h4 class=hBody>"His enemies were after him" -Hasan</h4>
            </article>
            <img src="images\The Tinder Swindler_Movies_3.jpg" alt="The Tinder Swindler Movie Poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
            <div class="see_more text-center">
                <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
            </div>
            <article class="text-left">
                <h2>THE WOMAN<br>IN THE HOUSE<br>ACROSS THE STREET<br>FROM THE GIRL<br>IN THE WINDOW</h2>
                <h4 class=hBody>"The name is longer than my attention span" -Shego</h4>
            </article>
            <img src="images\The_Woman.jpg" alt="The Woman Movie Poster">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 container_img">                      
            <div class="see_more text-center">
                <a href="#topTen"><span id="click" class="lnr lnr-eye"></span> </a>
            </div>
            <article class="text-left">
                <h2>TRANSFORMER<br>REVENGE OF THE FALLEN</h2>
                <h4 class=hBody>"Not sure if this is 2 or 3 but the robots save the city, or world?" -Dracula</h4>
            </article>
            <img src="images\Transformers_Movies_4.jpg" alt="Transformers Movie Poster">
          </div>

        </div>
</div>

<!-- Loop over each object in the projects array -->
<div id="topTen" class="container-fluid container text-center">
  <div class="col-12 col-md-12" id="topReviews">
      <h1>All Reviews</h1>
      <hr id="topTenHr" class="rounded">
  </div>
{{#each reviews as |review| }}
{{!-- {{#each review.comments}} --}}
<div class="container">
    <blockquote class="quote-box">
      <a class ="title-font" href="/review/{{review.id}}">{{review.title}}</a>
        <h2 class="card-title"></h2>
        <hr>
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
        {{review.review}} 
      </p>
      <hr>
       
      <div class="blog-post-actions">
            <p class="blog-post-bottom pull-left">
            - {{review.user.name}}
            </p>
           {{#each review.comments}}
            <p>
                <a class="btn btn-primary lnr lnr-eye" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                View Comments
                </a>
                <a class="btn btn-primary lnr lnr-pencil" href="http://localhost:3001/review/{{review.id}}">
                    Add Comment
                </a>
            </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                    {{user.name}}: {{comment}}
                    </div>
                </div>
                  {{/each}}
      </div>
    
    </blockquote>
    {{!-- {{/each}} --}}
    {{/each}}
</div>
