<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Profile:</h3>

    <form class="form new-profile-form">
      <div class="form-group">
        <label for="profile-name">Profile Name:</label>
        <input class="form-input" type="text" id="profile-name" name="profile-name" />
      </div>
      <div class="form-group">
        <label for="reviews">Number of Reviews Left:{{get_status}}</label>
        <input class="form-input" type="number" id="reviews" name="reviews" />
      </div>
      <div class="form-group">
        <label for="following">Following:</label>
        <input class="form-input" type="number" id="following" name="following" />
      </div>
      <div class="form-group">
        <label for="followers">Followers:</label>
        <input class="form-input" type="number" id="followers" name="followers" />
      </div>
      <div class="form-group">
        <label for="profile-bio">Bio:</label>
        <textarea class="form-input" id="profile-bio" name="profile-bio"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if profile.length}}
  <div class="col-md-6 profile-list">
    <h3>Current Profiles:</h3>

    {{#each profile as |profile|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/profile/{{profile.id}}">{{profile.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{profile.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
