<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span {{get_status}} aria-label="status"></span>
    <span class="status_medal">{{format_amount reviews_posted}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Movie Reviews!</button>
    <button class="btn btn-primary">Show Reviews!</button>
    {{! like button  }}
    <button onclick="Toggle1()" id="btnh1" class="like-btn">
      <i class="fas fa-heart"></i>
    </button>
  </p>
</div>
<script src="/like/script.js"></script>