<div class="text-center">
  <h2>{{name}}</h2>
  {{!-- <p>{{{get_status}}}</p> --}}
  <p>{{title}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    {{!-- <span {{get_status}} aria-label="status"></span> --}}
    <span class="status_medal">{{review}}</span>
  </p>
  <p>
    <button class="btn btn-primary" id="comment-text">Add a comment</button>
    {{! <button class="btn btn-primary">Show Reviews!</button> }}
    {{! like button  }}
    <button onclick="Toggle1()" id="btnh1" class="like-btn">
      <i class="fas fa-heart"></i>
    </button>
  </p>
  <div>{{comment.comment}}</div>
</div>
<script src="/like/script.js"></script>
<script src = "/js/comment.js"></script>
{{! <script src="/js/upvote.js"></script> }}