{{#each reviews as |review|}}
  <section>
    <h2><a href="/review/{{id}}">{{review.title}} </a></h2>
    <p>{{review.review}}</p>
    <strong>Posted by
      {{review.user.name}}
      on
      {{format_date date_created}}</strong>

  </section>
{{/each}}