
{{#each reviews as |review|}}
  <section>
    <h2><a href="/reviews/{{id}}">{{review.title}} </a></h2>
    <p>{{review.review}}</p>
    <strong>Posted by
      {{review.user.name}}
      on
      {{format_date date_created}}</strong>

  </section>
{{/each}}

{{#each comments as |comment|}}
  <section>
    <h2><a href="/comments/{{id}}">{{comment.review_id}} </a></h2>
    <p>{{comment.comment}}</p>
    <strong>Posted by
      {{comment.review.user.name}}
      on
      {{format_date comment.date_created}}</strong>

  </section>
{{/each}}